html {
  background-color: rgba(219, 202, 199, 0.64);
  font-family: 'Lato', sans-serif;
}

html,body {
  height:  100%;
  width: 100%;
  overflow: hidden;
}


.font-1 {
  font-family: 'Playball', cursive;
}